<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Blinder Index Title</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
</head>
<body>

  

  <!-- Main Template -->
  <!-- Left Panel -->
  <div align="left"
    style="width: 200px; float: left; background-color: black; height: 100vh;">
    <div style="margin: 10px; padding-top: 10px;">
      <font size="5" color="white"><strong>Blinder's
          Page</strong></font>
    </div>
  </div>

  <!-- Center Panel -->
  <div
    style="width: calc(100% - 200px); float: left; height: 100vh; background-color: lightgray;">
<!-- Standard button -->
<button type="button" class="btn btn-default">Default</button>

<!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
<button type="button" class="btn btn-primary">Primary</button>

<!-- Indicates a successful or positive action -->
<button type="button" class="btn btn-success">Success</button>

<!-- Contextual button for informational alert messages -->
<button type="button" class="btn btn-info">Info</button>

<!-- Indicates caution should be taken with this action -->
<button type="button" class="btn btn-warning">Warning</button>

<!-- Indicates a dangerous or potentially negative action -->
<button type="button" class="btn btn-danger">Danger</button>

  </div>
</body>
</html>
