<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Blinder Index Title</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link href="bower_components/bootstrap/dist/css/bootstrap.min.css"
  rel="stylesheet"></link>
<link href="css/gray.css" rel="stylesheet"></link>

<script>
	
</script>
</head>
<body>

  

  <!-- Main Template -->
  <!-- Left Panel -->
  <div align="left"
    style="width: 200px; float: left; background-color: black; height: 100vh;">
    <div style="margin: 10px; padding-top: 10px;">
      <font size="5" color="white"><strong>Blinder's
          Page</strong></font>
    </div>
  </div>

  <!-- Center Panel -->
  <div
    style="width: calc(100% - 200px); float: left; height: 100vh; background-color: lightgray;">

  </div>
</body>
</html>
