body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#tab_0 { 
    text-align:center; 
    vertical-align:middle;
    display: table-cell;
    height: 90vh; 
    width: 100vw; 
    background-color: #EEEEEE;
}

#tab_1 { 
    text-align:center; 
    vertical-align:middle;
    display: table-cell;
    height: 90vh; 
    width: 100vw; 
    background-color: #FFCA28;
}

#tab_2 { 
    text-align:center; 
    vertical-align:middle;
    display: table-cell;
    height: 90vh; 
    width: 100vw; 
    background-color: #80DEEA;
}

#block { 
    display:inline-block; 
    width: 80vw;
    background: white;
    border: 1px lightgray solid;
}
